@using Transportathon._0x80072F78.Core.DTOs.ForCompany
@model List<DriverDTO>
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
